/*
UNIVERSIDAD NACIONAL DE COSTA RICA
EIF-209  -  PROGRAMACIÓN IV
PROYECTO I
ESTUDIANTE: JOEL ZAMORA Y DIEGO JIMÉNEZ
PROFESOR: JOSE SÁNCHEZ SALAZAR
*/

body{
    font: sans-serif;
    background-size: cover;
    background-attachment: fixed;
}

h2{
    text-align: center;
    color: #1a2537;
}

.password{
    text-align: center;
}

.errores{
    text-align: center;
    color: #FC6544;
}

.formulario{
    background-color: lightgray;
    padding: 30px;
    margin: 80px;
}

.sesion{
    text-align: center;
    width: 100%;
    padding: 1px;
    border: 1px solid #aaa;
}

input[type = "text"], input[type = "password"]{
    font-size: 15px;
    width: 80%;
    padding: 10px;
}

.overlay{
    display: none; position: absolute;
    top: 0%; left: 0%;
    width: 100%; height: 100%;
    background-color: lightgray;
    z-index:1; opacity:.70;
}
.popup {
    display: none; position: absolute;
    top: 10%; left: 25%;
    width: 50%; height: 50%;
    padding: 5px;
    border: 5px solid black;
    background-color: white;
    z-index:2;
}

.boton{
    border: none;
    color: white;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input.invalido{
    border: 3px solid #FC6544;
}

.sesion > div{
    text-align: center;
    padding: 10px;
}

.sesion > div.signin p{
    text-align: center;
    font-size: 30px;
}

.sesion div.estatus select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.sesion div.estatus select{
    display: inline-block;
    width: 85%;
    cursor: pointer;
    padding: 10px 10px;
    border: 0;
    border-radius: 0;
}
