/*
UNIVERSIDAD NACIONAL DE COSTA RICA
EIF-209  -  PROGRAMACIÓN IV
PROYECTO I
ESTUDIANTE: JOEL ZAMORA Y DIEGO JIMÉNEZ
PROFESOR: JOSE SÁNCHEZ SALAZAR
*/

div.logo span{ /* Accedemos a un div, que pertenece a la clase logo, que tiene un hijo span */
    margin-left: 10px;
    font-size: 30px;
    font: sans-serif;
}

div.submenu ul{
    list-style-type: none;
    margin-top: 20px;    
    margin-bottom: 20px;
    padding: 0px;
    overflow: hidden;
    background-color: darkred;
}

div.submenu li{
    float: left;
}

div.submenu ul li a{
    display: block;
    color: bisque;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

div.submenu ul li a:hover{
    background-color: black;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkred;
  color: bisque;
  text-align: center;
}

body{
    background: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
}