/*
UNIVERSIDAD NACIONAL DE COSTA RICA
EIF-209  -  PROGRAMACIÓN IV
PROYECTO I
ESTUDIANTE: JOEL ZAMORA Y DIEGO JIMÉNEZ
PROFESOR: JOSE SÁNCHEZ SALAZAR
*/

body{
    font: sans-serif;
    background-size: cover;
    background-attachment: fixed;
}

h2{
    text-align: center;
    color: #1a2537;
}

.formulario{
    background-color: lightgray;
    padding: 30px;
    margin: 80px;
}

.sesion{
    text-align: center;
    width: 100%;
    padding: 1px;
    border: 1px solid #aaa;
}

input[type = "text"], input[type = "password"]{
    font-size: 15px;
    width: 80%;
    padding: 10px;
}


.boton{
    border: none;
    color: white;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input.invalido{
    border: 3px solid #FC6544;
}

div.sesion > div{
    text-align: center;
    padding: 10px;
}